<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">NODEPOP</a>
    </div>
    <ul class="nav navbar-nav" >
      <li><a href="./?tag=lifestyle">Lifestyle</a></li>
      <li><a href="./?tag=motor">Motor</a></li>
      <li><a href="./?tag=mobile">Mobile</a></li>
      <li><a href="./?tag=work">Work</a></li>
    </ul>
  </div>
</nav>
